body{
    background-color: black;
}
.homeView{
    height: 100%;
    background-color: black;
}

#saucesContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.titleCont{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.titleCont h2{
    font-size: 40px;
    position: relative;
    top: 10px;
    margin: 0;
    left: 15%;
    color: darkred;

}

.titleCont span{
    position: relative;
    right: 10%;
    top: 20px;
    font-size: 20px;
    color: white
}

.titleCont span:hover{
    cursor: pointer;
    text-shadow: 2px 4px 5px yellow;
}

.titleCont span{
    transition: all .5s;
}

@media screen and (max-width: 669px) {
    .titleCont{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .titleCont span, .titleCont h2{
        position: static;
    }
  }
  @media screen and (max-width: 352px) {
    .titleCont h2{
        font-size: 25px;
    }
  }