.loaderCont {
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.loaderCont h1{
    color:whitesmoke
}

.bottle {
    animation: pour 3s linear infinite alternate;
}

.fire{
    animation:spin 2s infinite alternate;
}

@keyframes pour {
    0% {transform: rotate(0deg)}
    100%{transform: rotate(140deg)}
}

@keyframes spin {
    0%{fill: red}
    100%{fill:yellow}
}

